@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = @StaticResource.Resources.Error;
}

<h1 class="text-danger">@StaticResource.Resources.Error</h1>
<h2 class="text-danger">@StaticResource.Resources.ErrorRequest</h2>

