@model IEnumerable<Horizone.Models.AboutProject>
@{
    ViewBag.Title = @StaticResource.Resources.Contact;
}
<h4>    @StaticResource.Resources.Address </h4>
@foreach (var item in Model)
{
    if (item.Language.Symbol == Session[Horizone.Common.CommonConstants.CurrentCulture].ToString())
    {
        @Html.Raw(item.Contact);
    }
}
<img style="width:80px;height:60px;" src="https://upload.wikimedia.org/wikipedia/commons/0/08/Logo-ephe-coul-1.png" class="logo" />

<p><a class="btn btn-default" style="background-color: #99AAFF;" href="https://www.ephe.fr/">@StaticResource.Resources.LearnMore &raquo;</a></p>

