@{
    ViewBag.Title = @StaticResource.Resources.Contact;
}
<address>
    Ecole Practique Des Hautes Etudes - EPHE<br />
    4-14 rue ferrus, 75014<br />
    <abbr title="Phone">P:</abbr>
    0140462095
</address>

<address>
    <strong>Colaborateur 1</strong>   <a href="https://www.univie.ac.at/tocharian/?A%2023">CETOM</a><br />
    <strong>Colaborateur 2</strong> <a href="https://gallica.bnf.fr/accueil/fr/content/accueil-fr?mode=desktop"> @StaticResource.Resources.bnf</a>
</address>

