@{
    ViewBag.Title = StaticResource.Resources.Office;
}
<div class="container body-content">
    <!--Recherche-->
    <div id="search">
        <form class="form-group row" action="@Url.Action("SearchIndex", "Dashboards")" method="post" enctype="multipart/form-data">
            <div>
                @{Html.RenderAction("SearchForm", "DashBoards"); }
            </div>
        </form>
    </div>
    <!--Information principal-->
    <div id="midheader-vp">
        @{Html.RenderAction("PresenteProject", "Dashboards"); }
    </div>
    <div class="clear"></div>
    <!--Last News-->
    <div id="slide-vp">

        <div id="slide-left">
            <div id="slideleft-main">
                @{Html.RenderAction("LatestNewsFr", "Dashboards"); }
                @{Html.RenderAction("LatestNewsEn", "Dashboards"); }
                @{Html.RenderAction("LatestNewsZh", "Dashboards"); }

            </div>
            <div id="slideleft-scroll">
                <!--Seen Frequently-->
                <div class="content_scoller width_common">
                    <ul>
                        <li>
                            <div class="title_news">
                                @{Html.RenderAction("News", "Dashboards"); }
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!--Main-Right-->
        <div id="slide-right">
            <img style="width:90px;height:90px;" src="~/Image/15.jpg" />
            @{Html.RenderAction("PageActivity", "Dashboards"); }
            <hr />
        </div>
        <!--Logo Histochtech-->
        <div id="image-activity">
            <img class="moyenImage" alt="" src="~/Image/basin.jpg">
            <div class="title_news"></div>
        </div>
        <div id="slideleft-scroll">
            <div id="content-vp">
                <div class="box-cat">
                    <div class="cat">
                        <div class="content_scoller width_common">
                            <ul>
                                <li>
                                    <div class="main-cat">
                                        <a href="#" class="content-title">@StaticResource.Resources.Publications</a>
                                        <br/>                                  
                                        @{Html.RenderAction("PagePublication", "Dashboards"); }
                                        <div class="clear"></div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Group of latest tochStory-->
    <div id="midheader-vp">
        <div class="row">
            @{Html.RenderAction("LatestStory", "DashBoards"); }
        </div>
    </div>
    <div id="footer"></div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        function insertText(elemID, text) {
            document.getElementById(elemID).value += text;
        }
    </script>
}
