<div class="form-group col-md-2">
    <br />
    <button type="submit" class="btn btn-info bigBtn"><span class="glyphicon glyphicon-search"></span> @StaticResource.Resources.Search </button>
</div>
<div class="form-group col-md-2">
    <label for="Title"> @StaticResource.Resources.SearchWord </label>
    <input class="form-control" type="text" id="Search" name="search" />
</div>

<div class="form-group col-md-8">
    <label for="search">@StaticResource.Resources.Insert @StaticResource.Resources.SpecialCharacter : </label>
    <a onclick="insertText('Search','ā');" href="#" style="font-size:medium; padding:5px"> ā  </a>
    <a onclick="insertText('Search','ä');" href="#" style="font-size:medium; padding:5px"> ä  </a>
    <a onclick="insertText('Search','ī');" href="#" style="font-size:medium; padding:5px"> ī  </a>
    <a onclick="insertText('Search','ö');" href="#" style="font-size:medium; padding:5px"> ö  </a>
    <a onclick="insertText('Search','ū');" href="#" style="font-size:medium; padding:5px"> ū  </a>
    <a onclick="insertText('Search','ü');" href="#" style="font-size:medium; padding:5px"> ü  </a>
    <a onclick="insertText('Search','ṅ');" href="#" style="font-size:medium; padding:5px"> ṅ  </a>
    <a onclick="insertText('Search','ñ');" href="#" style="font-size:medium; padding:5px"> ñ  </a>
    <a onclick="insertText('Search','ṇ');" href="#" style="font-size:medium; padding:5px"> ṇ  </a>
    <a onclick="insertText('Search','ṃ');" href="#" style="font-size:medium; padding:5px"> ṃ  </a>
    <a onclick="insertText('Search','ś');" href="#" style="font-size:medium; padding:5px"> ś  </a>
    <a onclick="insertText('Search','ṣ');" href="#" style="font-size:medium; padding:5px"> ṣ  </a>
    <a onclick="insertText('Search','ṛ');" href="#" style="font-size:medium; padding:5px"> ṛ  </a>
    <a onclick="insertText('Search','ṭ');" href="#" style="font-size:medium; padding:5px"> ṭ  </a>
    <a onclick="insertText('Search','š');" href="#" style="font-size:medium; padding:5px"> š  </a>
    <a onclick="insertText('Search','ß');" href="#" style="font-size:medium; padding:5px"> ß  </a>
    <a onclick="insertText('Search','ḍ');" href="#" style="font-size:medium; padding:5px"> ḍ  </a>
    <a onclick="insertText('Search','Ś');" href="#" style="font-size:medium; padding:5px"> Ś  </a>
    <a onclick="insertText('Search','Ā');" href="#" style="font-size:medium; padding:5px"> Ā  </a>
    <a onclick="insertText('Search','Ū');" href="#" style="font-size:medium; padding:5px"> Ū  </a>
    <a onclick="insertText('Search','Ṃ');" href="#" style="font-size:medium; padding:5px"> Ṃ  </a>
    <a onclick="insertText('Search','Ṇ');" href="#" style="font-size:medium; padding:5px"> Ṇ  </a>
    <a onclick="insertText('Search','Ñ');" href="#" style="font-size:medium; padding:5px"> Ñ  </a>

</div>


