@{
    ViewBag.Title = @StaticResource.Resources.ConfirmPassword;
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        @StaticResource.Resources.CheckEmailResetPassword
    </p>
</div>
	
