@{
    ViewBag.Title = @StaticResource.Resources.AboutUs;
}


<p>@StaticResource.Resources.Project HISTOCHTEXT</p>

<div class=" col-lg-3">
<ul class="list-group">
    See also:
    <li class="list-group-item">@StaticResource.Resources.Team</li>
    <li class="list-group-item">@StaticResource.Resources.Project</li>
    <li class="list-group-item">Colaborations</li>
</ul>
</div>



