@{
    ViewBag.Title = "Qui somme nous";
}


<p>Projet HISTOCHTEXT</p>


<ul class="list-group">
    See also:
    <li class="list-group-item">Notre equipe</li>
    <li class="list-group-item">Projet</li>
    <li class="list-group-item">Colaborations</li>
</ul>



