
@{
    ViewBag.Title = "Bibliography";
}

<h2>Bibliography</h2>
<hr />
Adams 1999: D.Q. Adams, A Dictionary of Tocharian B, Amsterdam-Atlanta: Rodopi.
<hr />
Adams 2006: D.Q. Adams, Some implications of the Carbon-14 dating of Tocharian manuscripts, Journal of Indo-European Studies 34/3-4, 2006, 381-389.
<hr />
Adams 2013: D.Q. Adams, A Dictionary of Tocharian B. Revised and greatly enlarged, Amsterdam-New York: Rodopi.
<hr />
Carling 2009: A dictionary and thesaurus of Tocharian A. Volume 1: Letters a-j, by G. Carling in collaboration with G.-J. Pinault and W. Winter, Wiesbaden: Harrassowitz.
<hr />
Ching 2017: Ching Chao-jung, Túhuóluó yŭ shìsú wénxiàn yŭ gŭdài Qiūcí lìshí. [Tocharian secular texts and the history of Ancient Kucha.] Beijing: Peking University Press.
<hr />
Doston & Helman-Waźny 2016: B. Doston and A. Helman-Ważny, Codicology, paleography and orthography of Early Tibetan manuscripts, Wien: Arbeitskreis für Tibetische und Buddhistische Studien.
<hr />
Durkin-Meisterernst  et  al.  2015:  Scientific  methods  for  philological  scholarship.  Pigments  and  paper analyses      in      the      field      of      manuscriptology,      Journal      of      Cultural      Heritage http://dx.doi.org/10.1016/j.culher.2015.06.004  (D.  Durkin-Meisterernst,  M.  Friedrich,  O.  Hahn, Agnieszka Helman-Ważny, R. Nöller, S.-Chr. Raschmann).
<hr />
Fellner 2013: H.A. Fellner, Studies in Tocharian adjective formation. Ph.D. thesis, Harvard University.
<hr />
Hansen 2012: V. Hansen, The Silk Road. A new history. Oxford-New York: Oxford University Press.
<hr />
Harrison & Hartmann 2014: From Birch Bark to Digital Data: Recent Advances in Buddhist Manuscript Research. Papers presented at the conference “Indic Manuscripts: The State of the Field” (Stanford, June 15-19, 2009), ed. Paul Harrison and Jens-Uwe Hartmann. Wien: Österreichische Akademie der Wissenschaften.
<hr />
Helman-Ważny & Van Schaik 2013: A. Helman-Ważny, S. Van Schaik, Witnesses for Tibetan craftmanship: Bringing together paper analysis, palaeography and codicology in the examination of the earliest Tibetan manuscripts, Archaeometry 55/4, 2013, 707-741.
<hr />
Malzahn ed. 2007: Instrumenta Tocharica, ed. M. Malzahn, Heidelberg: Winter.
<hr />
Malzahn 2007a: M. Malzahn, Tocharian texts and where to find them. In: Malzahn ed. 2007, 79-112.
<hr />
Malzahn 2007b: M. Malzahn, The most archaic manuscripts of Tocharian B and the varieties of Tocharian B language. In: Malzahn ed. 2007, 255-297.
<hr />
Malzahn 2010: M. Malzahn, The Tocharian verbal system. Leiden-Boston: Brill. Malzahn et al. 2015: Tocharian Texts in Context. International conference on Tocharian manuscripts and Silk Road culture (Vienna, June 25-29th, 2013), ed. M. Malzahn, M. Peyrot, H. Fellner and Th.-S. Illès, Bremen: Hempen.
<hr />
Malzahn 2017: M. Malzahn, Tocharian and historical sociolinguistics: Evidence from a fragmentary corpus, Open Linguistics 2017/3, 157-177 (DOI 10, 1515/opli-2017-0009).
<hr />
Meunier 2015: F. Meunier, Recherches sur le génitif en tokharien. Thèse de doctorat, École Pratique des Hautes Études, Paris.
<hr />
Peyrot 2008: M. Peyrot, Variation and change in Tocharian B, Amsterdam-New York: Rodopi.
<hr />
Peyrot 2013: M. Peyrot, The Tocharian subjunctive. A study in syntax and verbal stem formation, Leiden- Boston: Brill.
<hr />
Pinault 1989: Introduction au tokharien. In : Lalies 7. Actes des sessions de linguistique et de littérature (Aussois, 27 août-1er septembre 1985), Paris: Presses de l’École Normale Supérieure, 5-224.
<hr />
Pinault 2007: G.-J. Pinault, Concordance des manuscrits tokhariens du fonds Pelliot. In: Malzahn ed 2007, 163-219.
<hr />
Pinault 2008: G.-J. Pinault, Chrestomathie tokharienne. Textes et grammaire. Leuven-Paris: Peeters.
<hr />
Pinault 2014: G.-J. Pinault, Buddhist stylistics in Central Asia. In: Strategies of translation: language in contact, poetic language (= Linguarum Varietas, 4), ed. J.L. García Ramόn & D. Kölligan, Roma: Fabrizio Serra, 2014, 89-107.
<hr />
Pinault  2015a:  G.-J.  Pinault,  The  formation  of  Buddhist  languages,  as  exemplified  by  the  Tocharian evidence. In: Malzahn et al. 2015, 159-185.
<hr />
Pinault 2015b: G.-J. Pinault, Dramatic works: Central Asia. In: Brill’s Encyclopedia of Buddhism. Vol. I: Literature and languages, ed. J. Silk et al., Leiden-Boston: Brill, 584-590.
<hr />
Pinault, 2016: G.-J. Pinault, Les Tokhariens, passeurs et interprètes du bouddhisme. In: Michel Espagne, Svetlana Gorshenina, Frantz Grenet, Shahin Mustafayev, Claude Rapin (eds.), Asie Centrale. Transferts culturels le long de la Route de la Soie, Paris : Vendémiaire, 2016, p. 167-200.
<hr />
Pinault  2017:  Theatre  jargon  and  literary  language  in  Tocharian.  In:  Zur  lichten  Heimat.  Studien  zu Manichäismus,   Iranistik   und   Zentralasienkunde   im   Gedenken   an   Werner   Sundermann. Herausgegeben von der „Turfanforschung“, Wiesbaden: Harrassowitz, p. 511-524.
<hr />
Rischel 1998: A.-G. Rischel, Looking at Central Asian paper of Turkish, Tibetan and Chinese origin from the Silk Roads, IPH Congress Book (International Association of Paper Historians), Vol. 12, 1998, 176-184.
<hr />
Salomon 1996: R. Salomon, Brāhmī and Kharoṣṭhī. In: The World’s Writing Systems, ed. P.T. Daniels and W. Bright, Oxford-New York: Oxford University Press, 373-383.
<hr />
Salomon 1999: R. Salomon, Buddhist scrolls from Gandhāra. The British Library Kharoṣṭhī fragments, London: British Library, 1999.
<hr />
Sander 1968 : L. Sander, Paläographisches zu den Sanskrithandschriften der Berliner Turfansammlung. Wiesbaden: Steiner (Verzeichnis der Orientalischen Handschriften in Deutschland, Supplementband 8), 1968.
<hr />
Sander 1986: L. Sander, Brāhmī-scripts on the Eastern Silk Roads, Studien zur Indologie und Iranistik 11/12, 1986, 159-192.
<hr />
Sander 2005: L. Sander, Remarks on the formal Brāhmī script from the Southern Silk Roads, Bulletin of the Asia Institute, N.S. Vol. 19 [Iranian and Zoroastrian studies in honor of Prods Oktor Skjaervø], 2005, 133-144.
<hr />
Sander 2013: L. Sander, Was kann die Paläographie zur Datierung tocharischer Handschriften beitragen? In: Die Erforschung des Tocharischen und die alttürkische Maitrisimit. Symposium anlässlich des 100. Jahrestages der Entzifferung des Tocharischen (Berlin, 3. und 4. April 2008), ed. Y. Kasai, A. Yakup, D. Durkin-Meisterernst, Turnhout: Brepols, 277-324.
<hr />
Scherrer-Schaub 2009: Cr. Scherrer-Schaub, Copier, interpréter, transformer, représenter, ou des modes de la diffusion des Écritures et de l’écrit dans le bouddhisme indien. In: Écrire et transmettre en Inde classique, ed. G. Colas, G. Gerschheimer, Paris : EFEO, 151-171.
<hr />
Schmidt  1986:  K.T.  Schmidt,  Bemerkungen  zur  westtocharischen  Umgangssprache.  In:  o-o-pe-ro-si. Festschrift für Ernst Risch zum 75. Geburtstag, ed. A. Etter, Berlin: Mouton de Gruyter, 635-649.
<hr />
Schmidt 2001: K.T. Schmidt, Entzifferung verschollener Schriften und Sprachen. Dargestellt am Beispiel der Kučā-Kharoṣṭhī Typ B und des Kučā-Prākrits, Göttinger Beiträge zur Asienforschung, Heft 1, 2001, 7-35.
<hr />
Sieg  &  Siegling  1908: E.  Sieg,  W.  Siegling,  Tocharisch,  die  Sprache  der  Indoskythen;  Vorläufige Bemerkungen über eine bisher unbekannte indogermanische Literatursprache. In: Sitzungsberichte der Königlich Preußischen Akademie der Wissenschaften, Jahrgang 1908, 915-932 ; reproduced in E. Sieg, Tocharologica. Selected writings in Tocharian, edited and introduced by G.-J. Pinault and M. Peyrot, Bremen: Hempen, 2014, 1-23.
<hr />
Sieg & Siegling 1949-1953: E. Sieg, W. Siegling, Tocharische Sprachreste, Sprache B, ed. E. Sieg and W. Siegling. Heft 1: Die Udānālaṅkāra-Fragmente. Text, Übersetzung und Glossar.- Heft 2: Fragmente Nr. 71-633, hrsg. aus dem Nachlaß von W. Thomas, Göttingen, Vandenhoeck & Ruprecht.
<hr />
SWTF =  Sanskrit-Wörterbuch  der  buddhistischen Texte aus  den  Turfan-Funden [und  der kanonischen Literatur der Sarvāstivāda-Schule]. Begonnen von Ernst Waldschmidt. Edited by Heinz Bechert, Klaus Röhrborn and Jens-Uwe Hartmann. 4 volumes in 28 fascicles (in 2016). Göttingen: Vandenhoeck & Ruprecht, 1973-.
<hr />
Tamai 2011 : T. Tamai, Paläographische Untersuchungen zum B-Tocharischen, Innsbruck: Institut für Sprachen und Literaturen der Universität Innsbruck (IBS 138).
<hr />
Thomas & Krause 1964: W. Thomas, W. Krause, Tocharisches Elementarbuch. Vol. II: Texte und Glossar, Heidelberg: Winter.
<hr />
THT = Tocharische Handschriften aus den Turfanfunden