@model IEnumerable<Horizone.Models.AboutProject>
@{
    ViewBag.Title = @StaticResource.Resources.Contact;
}
<h4>    @StaticResource.Resources.Address </h4>
@foreach (var item in Model)
{
    if (item.Language.Symbol == Session[Horizone.Common.CommonConstants.CurrentCulture].ToString())
    {
        @Html.Raw(item.Contact);
    }
}
