@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = StaticResource.Resources.Home;
}
<div class="container body-content">
    <!--Recherche-->
    <div id="search">
        <form class="form-group row" action="@Url.Action("SearchIndex", "Home")" method="post" enctype="multipart/form-data">
            <div>
                @{Html.RenderAction("SearchForm", "Home"); }
            </div>

        </form>
    </div>
    <!--Information principal-->
    <div id="midheader-vp">
        @{Html.RenderAction("PresenteProject", "Home"); }
    </div>
    <div class="clear"></div>
    <!--Last News-->
    <div id="slide-vp">
        <div id="slide-left">
            <div id="slideleft-main">
                @{Html.RenderAction("LatestNewsFr", "FontNews"); }
                @{Html.RenderAction("LatestNewsEn", "FontNews"); }
                @{Html.RenderAction("LatestNewsZh", "FontNews"); }                
            </div>


            <div id="slideleft-scroll">
                <!--Frequntly-->
                <div class="content_scoller width_common">
                    <ul>
                        <li>
                            <div class="title_news">
                                @{Html.RenderAction("ListNews", "FontNews"); }
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!--Main-Right - ACTIVITE-->
        <div id="slide-right">
            @{Html.RenderAction("PageActivity", "Home"); }

        </div>
        <!--Logo Histochtech-->
        <div>
             <div class="title_news"></div>
        </div>

        <div id="slideleft-scroll">
            <div id="content-vp">
                <div class="box-cat">
                    <div class="cat">
                        <div class="content_scoller width_common">
                            <ul>
                                <li>
                                    <div class="main-cat">
                                        <a href="#" class="content-title">@StaticResource.Resources.Publications</a>
                                        <br />
                                        @{Html.RenderAction("PagePublication", "Home"); }
                                        <div class="clear"></div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clear"></div>
    </div>

    <!--Group of latest tochStory-->
    <div id="midheader-vp">
        <div class="row">
            @{Html.RenderAction("LatestStory", "Home"); }
        </div>
    </div>
    <div id="footer">

    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        function insertText(elemID, text) {
            document.getElementById(elemID).value += text;
        }
       // $(function () {
         //   tinymce.init({ selector: '#Content' });
       // });
    </script>
}
