@model IEnumerable<Horizone.Models.AboutProject>


<h4>    @StaticResource.Resources.Aim </h4>
 @foreach (var item in Model)
  {
     if (item.Language.Symbol == Session[Horizone.Common.CommonConstants.CurrentCulture].ToString())
     {
         @Html.Raw(item.Aim);
     }
 }




