@model IEnumerable<Horizone.Models.Presentation>


<h4>    @StaticResource.Resources.Manuscript </h4>
@foreach (var item in Model)
{
    if (item.Language.Symbol == Session[Horizone.Common.CommonConstants.CurrentCulture].ToString())
    {
        @Html.Raw(item.Manuscript);
    }
}

