    <p><strong>Insert:  </strong> </p>
    <a onclick="insertText('Search','ā');" href="#" style="font-size:small; padding:3px"> ā  </a>
    <a onclick="insertText('Search','ä');" href="#" style="font-size:small; padding:3px"> ä  </a>
    <a onclick="insertText('Search','ī');" href="#" style="font-size:small; padding:3px"> ī  </a>
    <a onclick="insertText('Search','ö');" href="#" style="font-size:small; padding:3px"> ö  </a>
    <a onclick="insertText('Search','ū');" href="#" style="font-size:small; padding:3px"> ū  </a>
    <a onclick="insertText('Search','ü');" href="#" style="font-size:small; padding:3px"> ü  </a>
    <a onclick="insertText('Search','ṅ');" href="#" style="font-size:small; padding:3px"> ṅ  </a>
    <a onclick="insertText('Search','ñ');" href="#" style="font-size:small; padding:3px"> ñ  </a>
    <a onclick="insertText('Search','ṇ');" href="#" style="font-size:small; padding:3px"> ṇ  </a>
    <a onclick="insertText('Search','ṃ');" href="#" style="font-size:small; padding:3px"> ṃ  </a>
    <a onclick="insertText('Search','ś');" href="#" style="font-size:small; padding:3px"> ś  </a>
    <a onclick="insertText('Search','ṣ');" href="#" style="font-size:small; padding:3px"> ṣ  </a>
    <a onclick="insertText('Search','ṛ');" href="#" style="font-size:small; padding:3px"> ṛ  </a>
    <a onclick="insertText('Search','ṭ');" href="#" style="font-size:small; padding:3px"> ṭ  </a>
    <a onclick="insertText('Search','š');" href="#" style="font-size:small; padding:3px"> š  </a>
    <a onclick="insertText('Search','ß');" href="#" style="font-size:small; padding:3px"> ß  </a>
    <a onclick="insertText('Search','ḍ');" href="#" style="font-size:small; padding:3px"> ḍ  </a>
    <a onclick="insertText('Search','Ś');" href="#" style="font-size:small; padding:3px"> Ś  </a>
    <a onclick="insertText('Search','Ā');" href="#" style="font-size:small; padding:3px"> Ā  </a>
    <a onclick="insertText('Search','Ū');" href="#" style="font-size:small; padding:3px"> Ū  </a>
    <a onclick="insertText('Search','Ṃ');" href="#" style="font-size:small; padding:3px"> Ṃ  </a>
    <a onclick="insertText('Search','Ṇ');" href="#" style="font-size:small; padding:3px"> Ṇ  </a>
    <a onclick="insertText('Search','Ñ');" href="#" style="font-size:small; padding:3px"> Ñ  </a>



