@model IEnumerable<Horizone.Models.WordSubClass>

@{
    ViewBag.Title = @StaticResource.Resources.WordSubClass;
}

<hr />
<hr />
<div class="content">
    <p>
        @Html.ActionLink(@StaticResource.Resources.Add, "Create", null, new { @class = "btn btn-primary" })
    </p>

    @{Html.RenderAction("ListWordClass", "WordSubClasses");}

   
</div>