/*@charset "utf-8";
CSS Document */
*{ margin:0; padding:0}
body{ font-family:Arial, sans-serif; font-size:12px}
a{ text-decoration:none}
ul{ list-style:none}
.left{ float:left; margin:0 2px}
.right{ float:right}
.clear{ clear:both; height:5px; margin:5px 0}
.title{ margin:5px 0 5px 0}
.des{ color:#333; margin-top:3px; line-height:140%} 
.learnmore{ color:#666; font-size:11px;}
.form-control {
    width: 100% !important;
}

.btn_special {
    background-color: #A8A2CC;
    border-radius: 4px;
    color: white;
    border: none;
    padding: 5px 2px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
}
#txt1 {
    border-color: lightcyan;
    width: 400px;
    height: 30px;
    padding: 5px 2px 2px 10px;
}
/*Title page*/
h2.main-cat {
    color: #343a89;
    font-weight: bold;
    display: block;
    height: 30px;
    padding: 5px 0 0 10px;
    font-size: 24px;
}

/*Color menu bar boostrap */

ul.nav a:hover {
    color: slateblue !important;
    background-color: #ebfdc2;
    font-weight: bold;
    font-size:inherit;    
}
/*Color menu dropdown */
ul.dropdown-menu {
    background-color: #ebfdc2;
    color: slateblue !important;    
    padding: 2px;
    width: auto;
}

.dropdown-submenu {
    top: -20px;
    Left: 100%;
    margin-top: -1px;
    width: auto;
}

    .dropdown-submenu .dropdown-menu {
        top: auto;
        left: 100%;
        margin-top: -1px;
        display: none;
        color: slateblue !important;
        min-width: 60px !important;
        width: auto !important;
    }

.dropdown-menu > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
    width: auto;
    min-width: 60px !important;
    width: auto !important;
}
.newinputwidth {
    width: 2000px !important;
}
/*Qui sommes nous*/
.autocontents {
    border: solid 1px #D2B48C;
    margin: 20px 0;
    padding: 10px;
    box-shadow: 0 2px 2px rgba(0,0,0, .5);
}
.content {
    border-top: solid 2px #a0d606;
    border-top-style: ridge;
    font-size: 12px;
    font-family: "Arial Unicode MS", Arial, Helvetica, sans-serif;
    letter-spacing: 0.6px;
    word-spacing: 1.8px;
    color: darkslategray;
    text-align: justify;
    line-height: 1.6;
    padding: 4px 12px 2px 12px;
    box-shadow: 0 2px 2px rgba(0,0,0, .5);
}
.content-title {
    color: #900;
    font-weight: bold;
}
.underline {
    border-bottom: solid 1px #6a3416;
}
.table_trans th {
    width: 20px;
    overflow: auto;
    font-weight: bold;
    text-align: left;
    vertical-align: top;
    padding: 0px 10px 0px 0px;
    margin: 0px;
}
    .learnmore:hover {
    color: #069;
}
.petitImage {
    width: 30%;
    height: 20%;
}
.ActivityImage {
    width: 10%;
    height: 8%;
 }
.moyenImage {
    width: 30%;
    height: 20%;
}
.GrandImage {
    width: 30%;
    height: 20%;
}

#wrap-vp{ width:1000px; margin:15px auto}
#header-vp{ height:70px;}
#logo{ width:300px; float:left; margin-top:5px}
	
	
#midheader-vp{ margin-top:7px}	
	
#slide-vp{ margin-top:7px; border-bottom:1px solid #CCC; min-height:425px}
#slide-left{ width:70%; float:left}
#slideleft-main{ width:71%; float:left}
#slideleft-main .title a{ color:#900}
#slideleft-main .title a:hover{ color:#069}
#slideleft-scroll{ width:25%; float:left; border-left:solid 1px #E2E2E3; border-right:solid 1px #E2E2E3; padding : 2px 5px 2px 5px}
#slideleft-scroll ul li{ padding: 5px; border-bottom:1px solid #E2E2E3; float:left}
#slideleft-scroll a{ color:#666}	
#content-vp #content-left{border-right:solid 1px #E2E2E3; width:16%; float:left; padding: 5px; min-height:500px;}
	#content-vp #content-main{border-right:solid 1px #E2E2E3; width:60%; float:left; padding: 5px; min-height:500px; margin: 0 0 0 5px; }
	#content-vp #content-right{width:20%; float:left; padding: 5px; min-height:500px;}	
#content-ct #content-left{border-right:solid 1px #E2E2E3; width:51%; float:left; padding: 5px; min-height:500px; margin:7px 0 0 0; font-size:14px}
	#content-vp #content-main .chitiet{ line-height:150%; margin:0 0 40px 0}
	#content-vp #content-main .btn_quantam{ background:url(../images/btn_quantam.gif) no-repeat; width:75px; height:20px; float:left}
	#content-vp #content-main .number_count span{float: left;height: 20px;display: block;background: #f5f5f5;color: #656565;padding: 0 5px 0 3px;
}
	
#content-vp	#content-right .cat .cat-content .title a{ color:#333}	
#content-vp #content-right .cat .cat-content .title a:hover{ color:#900}	
#content-vp #content-right .cat .cat-content .col2{ float:left; clear:both}		
		#content-vp #content-left .news{ min-height:150px; border-bottom:solid 1px #E2E2E3; padding:10px 0; margin-right:5px}
		#content-vp #content-left .title a{ color:#333; font-weight:bold}
		#content-vp #content-left a:hover{ color:#900}
	#content-vp #content-main .box-cat{ margin-right:5px}
	#content-vp .cat{ background:url(../images/bg_1x28.gif) repeat-x; height:30px; padding:0 0 0 10px; margin:7px 0 10px 0}
#content-vp .main-cat {
    border-top: solid 2px #a0d606;   
    width: auto;
    float: left
}
    #content-vp .main-cat a {
        color: #343a89;
        font-weight: bold;
        display: block;
        height: 30px;
        padding: 5px 0 0 10px;
        font-size: 20px
    }
	
	#content-vp #content-right img{ margin:1px 5px 5px 1px}
	
#footer{ margin-top: 10px;}	
	