<div class="form-group col-md-5">
</div>
<div class="form-group col-md-2">
    <label for="search">@StaticResource.Resources.Insert @StaticResource.Resources.SpecialCharacter : </label>
</div>

<div class="form-group col-md-2">
    <a onclick="insertText('Search','ā');" href="#">ā  </a>
    <a onclick="insertText('Search','ä');" href="#">ä  </a>
    <a onclick="insertText('Search','ī');" href="#">ī  </a>
    <a onclick="insertText('Search','ö');" href="#">ö  </a>
    <a onclick="insertText('Search','ū');" href="#">ū  </a>
    <a onclick="insertText('Search','ü');" href="#">ü  </a>
    <a onclick="insertText('Search','ṅ');" href="#">ṅ  </a>
    <a onclick="insertText('Search','ñ');" href="#">ñ  </a>
    <a onclick="insertText('Search','ṇ');" href="#"> ṇ  </a>
    <a onclick="insertText('Search','ṃ');" href="#">ṃ  </a>
    <a onclick="insertText('Search','ś');" href="#">ś  </a>
    <a onclick="insertText('Search','ṣ');" href="#">ṣ  </a>
    <a onclick="insertText('Search','š');" href="#">š  </a>
    <a onclick="insertText('Search','ṛ');" href="#"> ṛ  </a>
    <a onclick="insertText('Search','ṭ');" href="#"> ṭ  </a>
    <a onclick="insertText('Search','ß');" href="#">ß  </a>
</div>
<div class="form-group col-md-3">
    <input class="form-control" type="text" id="Search" name="search" />
</div>


